//
// Front Page Stylings
//================================

.welcome-title,
.reviews-title,
.members-title,
.promotion-title,
.events-title {
  background-color: $widget--background-color;
  @include rem( font-size, $front-page__Section-Title--font-size );
  padding: 25px 0;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  @media only screen and (max-width: $breakpoint__screen-size--small ) {
    font-weight: 400;
  }
}

.welcome-content {
  display: inline-block;
  margin: 0 2% 2%;
  columns: 2;
  padding: 0 2%;

  @media only screen and (max-width: $breakpoint__screen-size--small ) {
    columns: 1;
  }
}

.reviews-content {
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: $breakpoint__screen-size--small) {
    display: inline-block;
  }

  .pull_quote {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 4%;
  }

  .dashicons-format-quote {
    margin-right: 15px;
    font-size: $dashicons-format-quote--font-size;
  }

  .review-content {
    font-weight: 900;
    font-style: italic;
  }
}

.members-content .entry-content.two-thirds {
  margin-bottom: 30px;
}

.events-content .entry-header.two-thirds {
  margin-bottom: 20px;
}

.event-title a:hover {
  text-decoration: underline;
}
