// Base Typography
// =====================================================

// Reset the default value of $rem-baseline in `/dev/node_modules/rem-sass/_rem.scss`.
// The reset preserves the calculation of rem in the stylesheet.
$rem-baseline: 10px;
// Set $rem-fallback to 'true' to allow rem to pixel conversion when necessary.
$rem-fallback: true;
$html--font-size: 62.5%;

// Common Fonts
$font-family--source-sans-pro: 'Source Sans Pro', sans-serif;
$font-family--lato: 'Lato', sans-serif;

$base--font-family: $font-family--source-sans-pro;
$base--font-size: 20px;
$base--font-size--small-screen: 18px;
$base__div--font-size: 2rem;
$base__div--font-size--small-screen: 1.8rem;
$base--line-height: 1.625;

// Headings
$headings--font-family: $font-family--source-sans-pro;
$headings--line-height: 1.2;
$h1--font-size:  36px;
$h2--font-size:  30px;
$h3--font-size:  24px;
$h4--font-size:  20px;
$h5--font-size:  18px;
$h6--font-size:  16px;

// Elements
$blockquote--font-size: 30px;
$input--font-size: 18px;
$button--font-size: 16px;

//
// Navigation
//===========
$nav--font-size: 24px;
$submenu--font-size: 18px;
$nav-mobile--font-size: 16px;
$primary-nav--font-size: 14px;
$archive-pagination--font-size: 16px;

//
// Header
//==================
$site-title--font-size: 30px;
$site-description--font-size: 16px;

//
// Front Page
//==================
$front-page__Section-Title--font-size: 48px;

//
// Footer
//==================
$site-footer--font-size: 20px;
$footer-widgets--font-size: 18px;

//
// Entry Content
//===================
$entry-meta--font-size: 16px;
$entry-header__entry-meta--font-size: 16px;
$entry-footer__entry-meta--font-size: 16px;

$entry-title--font-size: 36px;

//
// Comments
//===================
$comments--font-size: 16px;

//
// Widgets
//===================
$widget-title__Welcome--font-size: 48px;
$widget-title__Reviews--font-size: 48px;
$widget-title__Site-Footer--font-size: 36px;
$widget-content__Site-Footer-font-size: 22px;
$widget-title__Archive-Recordings--font-size: 36px;
$featured-content__entry-title--font-size: 20px;

//
// Plugins
//===================
$enews--font-size: 16px;
$events__Archive_Title--font-size: 48px;
$events__Archive_Date_Time--font-size: 26px;

//
// General Components
//===================
$breadcrumbs--font-size: 16px;
$author-box--font-size: 18px;
$author-box__Title--font-size: 20px;
$after-entry--font-size: 18px;
$archive-description--font-size: 18px;
$archive-title--font-size: 20px;
$dashicons-format-quote--font-size: 26px

