# Directories
/mu-plugins/central-hub/node_modules/
/plugins/backupbuddy
/plugins/genesis-visual-hook-guide
/plugins/query-monitor
/themes/genesis
/themes/genesis-sample/assets/
/themes/ktc-child-theme
/themes/twentyseventeen/*
/upgrade
/uploads

# Files
db.php
