<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
		 bootstrap="bootstrap.php"
		 backupGlobals="false"
		 beStrictAboutCoversAnnotation="true"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 colors="true"
		 verbose="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">../../../mu-plugins/central-hub/tests/phpunit/unit/</directory>
			<directory suffix=".php">../../../plugins/cornerstone-members/tests/phpunit/unit/</directory>
			<directory suffix=".php">../../../plugins/events/tests/phpunit/unit/</directory>
			<directory suffix=".php">../../../plugins/faq/tests/phpunit/unit/</directory>
			<!--<directory suffix=".php">../../../plugins/recordings/tests/phpunit/unit/</directory>-->
			<!--<directory suffix=".php">../../../plugins/reviews/tests/phpunit/unit/</directory>-->
			<exclude>./*/*/fixtures/</exclude>
		</testsuite>
	</testsuites>
</phpunit>
