//
// Widget Title Stylings
//================================

.sidebar .widget-title a {
  color: $widget-title--link-color;
  text-decoration: none;
}

.widget-title {
  @include rem( font-size, $widget-title__Welcome--font-size );
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  @media only screen and (max-width: $breakpoint__screen-size--small ) {
    font-weight: 400;
  }
}
