
html { /* stylelint-disable-line */
  font-size: $html--font-size; /* 10px browser default */
}

body { /* stylelint-disable-line */
  background-color: $body--background-color;
  color: $base__color;
  font-family: $base--font-family;
  @include rem( font-size, $base--font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base--line-height;
  margin: 0;

   @media only screen and (max-width: $breakpoint__screen-size--small ) {
    font-size: $base--font-size--small-screen;
  }

  /* Chrome fix */
  > div {
    font-size: $base__div--font-size;

     @media only screen and (max-width: $breakpoint__screen-size--small ) {
      font-size: $base__div--font-size--small-screen;
    }
  }
}
