//
// Title Area Base Styles
//==============================

.title-area {
  float: left;
  margin-top: 40px;
  width: $title-area--width;
  height: $title-area--height;

  @media only screen and (max-width: 1023px) {
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }

  .header-full-width & {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center;
  }
}
